
#logo{
    width: 280px;
    height: 100px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
}

#search-bar{
    margin-top: 55px;
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#search-bar input {
    width: 580px;
    height: 25px;
    padding: 9px 10px;
	font-family: 'Microsoft YaHei UI',arial,sans-serif;
    font-size: 15px;
    color: #555;
    border: none;
    background: #fff;
    overflow: hidden;
    outline:none;
    vertical-align: middle;
    box-shadow: 1px 1px 3px rgb(160,160,160);
	border-radius: 2px;
}

#search-bar button {
	margin-top: 20px;
	margin-left: 20px;
    width: 105px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
	font-weight: bold;
	color: rgb(100,100,100);
    border: none;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
	border-radius: 2px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 1px rgb(160,160,160);
}

#search-bar button:hover{
    background-color: rgb(240,240,240);
    box-shadow: 0px 0px 3px rgb(160,160,160);
}

#nav-panel{
    margin-top: 20px;
    margin-bottom: 100px;
    width: 840px;
    height: 285px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-top: 10px;
    background-color: #FFFFFF;
    border: 1px solid rgb(210,210,210);
}

.nav-panel-line{
    clear: both;
    width: 810px;
    height:1px;
    background-color: #F0F0F0;
}

.nav-panel-item {
    float: left;
    display: block;
    height: 40px;
    width: 160px;
    border: 1px solid transparent;
    text-decoration: none;
    color: #333;
}

.nav-panel-item:hover
{
    background-color: #F7F7F7;
}

.nav-panel-item-img{
    float: left;
    margin-top: 12px;
    margin-left: 15px;
}

.nav-panel-item-txt {
    float: left;
    margin-left: 5px;
    line-height: 40px;
    height: 40px;
}




canvas {
    cursor:default;
    z-index:1;
    margin:0 -22%;
}
.nope {
    color:#fff;
    text-align:center;
    margin-top:150px;
}
header {
    position:relative;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    text-transform:uppercase;
    width:100%;
    z-index:10;
}
#about {
    color:#fff;
    color:rgba(255,255,255,0.5);
    display:block;
    float:right;
    margin:20px;
    text-align:right;
    width:50%;
}
h1 {
    color:rgba(255,255,255,0.75);
    float:left;
    font-size:10px;
    font-weight:normal;
    margin:20px;
}
a {
    color:rgba(255,255,255,0.5);
    display:inline-block;
    text-decoration:none;
    transition:0.5s ease color;
    -moz-transition:0.5s ease color;
    -o-transition:0.5s ease color;
    -webkit-transition:0.5s ease color;
}
a:hover {
    color:rgba(255,255,255,0.75);
}
ul#options {
    list-style:none;
    margin:10px 0 0;
    position:relative;
    right:0;
    z-index:10;
}
ul#options li {
    margin:5px 0;
    min-width:200px;
    opacity:0;
    transition:0.25s ease-in opacity;
    -moz-transition:0.25s ease-in opacity;
    -o-transition:0.25s ease-in opacity;
    -webkit-transition:0.25s ease-in opacity;
}
ul#options li.group {
    margin-top:15px;
}
ul#options li * {
    display:none;
}
ul#options li a {
    box-shadow:1px 1px 3px rgba(0,0,0,0.25);
    background-color:rgba(0,0,0,0.5);
    border-radius:3px;
    padding:3px 5px;
    position:relative;
    transition:0.5s ease all;
    -moz-border-radius:3px;
    -o-box-shadow:1px 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow:1px 1px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.25);
    -moz-transition:0.5s ease all;
    -o-transition:0.5s ease all;
    -webkit-transition:0.5s ease all;
}
ul#options li a:hover {
    color:rgba(255,255,255,0.75);
}
ul#options li a.on {
    background-color:rgba(255,255,255,0.8);
    color:rgba(0,0,0,0.9);
    text-shadow:0px 0px 0px;
}
ul#options li a.on:after {
    content:"\2713 ";
}
ul#options.on li {
    opacity:1;
    right:20px;
}
ul#options.on li * {
    display:inline-block;
}
ul#borders {
    }ul#borders li {
    position:fixed;
    list-style:none;
    margin:0;
    background-color:transparent;
    background-color:rgba(0,0,0,0.05);
    z-index:100;
}
li#top {
    height:10px;
    left:0;
    right:0;
    top:0;
}
li#right {
    bottom:10px;
    right:0;
    top:10px;
    width:10px;
}
li#bottom {
    bottom:0;
    height:10px;
    left:0;
    right:0;
}
li#left {
    bottom:10px;
    left:0;
    top:10px;
    width:10px;
}
