
/* 修改文章右侧目录字体颜色*/
.tocify-item.active {
	color: #7266ba;
	font-weight: 700
}

/* 滚动条改动 */

*::-webkit-scrollbar {
	width: 8px!important;
	height: 8px!important
}

*::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #999!important
}

*::-webkit-scrollbar-track-piece {
	background: #eee!important
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #777!important
}

*::-webkit-scrollbar-thumb:active {
	background-color: #555!important
}